<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <% if @post.image.representable? %>
    <%= link_to image_tag(@post.image.representation(resize: '200x200')), @post.image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
